In [1]:
import pandas as pd
import numpy as np

In [3]:
df_14 = pd.read_csv('acs5_variable_dict_2014_2019.csv')

In [4]:
df_14

,variable_code,label,concept,predicateType,group,limit,predicateOnly,acs_year
0,DP02_0019EA,Annotation of Estimate!!RELATIONSHIP!!Populati...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
1,DP02_0126E,Estimate!!ANCESTRY!!Total population!!Danish,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
2,DP02_0072EA,Annotation of Estimate!!DISABILITY STATUS OF T...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
3,DP02_0069PMA,Annotation of Percent Margin of Error!!VETERAN...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
4,DP02_0126M,Margin of Error!!ANCESTRY!!Total population!!D...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
...,...,...,...,...,...,...,...,...
8259,DP05_0041PE,Percent!!RACE!!Total population!!One race!!Ame...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2019
8260,DP05_0049PMA,Annotation of Percent Margin of Error!!RACE!!T...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8261,DP05_0006EA,Annotation of Estimate!!SEX AND AGE!!Total pop...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8262,DP05_0062PMA,Annotation of Percent Margin of Error!!RACE!!T...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019
8263,DP05_0086PEA,Annotation of Percent!!Total housing units,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2019

In [5]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8264 entries, 0 to 8263
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   variable_code  8264 non-null   object
 1   label          8264 non-null   object
 2   concept        8264 non-null   object
 3   predicateType  8264 non-null   object
 4   group          8264 non-null   object
 5   limit          8264 non-null   int64
 6   predicateOnly  8264 non-null   bool
 7   acs_year       8264 non-null   int64
dtypes: bool(1), int64(2), object(5)
memory usage: 460.1+ KB

In [8]:
df_14['acs_year'].value_counts()

2019    4176
2014    4088
Name: acs_year, dtype: int64

In [10]:
df_14['variable_code'].value_counts()

DP03_0094EA     2
DP02_0141MA     2
DP02_0011EA     2
DP03_0062PM     2
DP03_0117MA     2
               ..
DP05_0084EA     1
DP05_0087PM     1
DP05_0086PM     1
DP05_0085MA     1
DP02_0153PMA    1
Name: variable_code, Length: 4176, dtype: int64

In [20]:
new_df = pd.DataFrame(df_14['variable_code'].value_counts())

In [21]:
new_df

              variable_code
DP03_0094EA               2
DP02_0141MA               2
DP02_0011EA               2
DP03_0062PM               2
DP03_0117MA               2
...                     ...
DP05_0084EA               1
DP05_0087PM               1
DP05_0086PM               1
DP05_0085MA               1
DP02_0153PMA              1

[4176 rows x 1 columns]

In [23]:
new_df['variable_code'].value_counts()

2    4088
1      88
Name: variable_code, dtype: int64

In [36]:
#Following volunteer Audrey's code

## Task 3

In [24]:
df = pd.read_csv('acs5_variable_dict_2014_2019.csv')

In [30]:
df[df.acs_year==2014]

,variable_code,label,concept,predicateType,group,limit,predicateOnly,acs_year
0,DP02_0019EA,Annotation of Estimate!!RELATIONSHIP!!Populati...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
1,DP02_0126E,Estimate!!ANCESTRY!!Total population!!Danish,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
2,DP02_0072EA,Annotation of Estimate!!DISABILITY STATUS OF T...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
3,DP02_0069PMA,Annotation of Percent Margin of Error!!VETERAN...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,string,DP02,0,True,2014
4,DP02_0126M,Margin of Error!!ANCESTRY!!Total population!!D...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,True,2014
...,...,...,...,...,...,...,...,...
4083,DP05_0041PM,Percent Margin of Error!!RACE!!One race!!Asian...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2014
4084,DP05_0041PE,Percent!!RACE!!One race!!Asian!!Chinese,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,True,2014
4085,DP05_0049PMA,Annotation of Percent Margin of Error!!RACE!!O...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2014
4086,DP05_0006EA,Annotation of Estimate!!SEX AND AGE!!10 to 14 ...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2014
4087,DP05_0062PMA,Annotation of Percent Margin of Error!!RACE!!R...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,string,DP05,0,True,2014

In [32]:
vars_2014 = df[df.acs_year==2014].variable_code
vars_2014

0        DP02_0019EA
1         DP02_0126E
2        DP02_0072EA
3       DP02_0069PMA
4         DP02_0126M
            ...
4083     DP05_0041PM
4084     DP05_0041PE
4085    DP05_0049PMA
4086     DP05_0006EA
4087    DP05_0062PMA
Name: variable_code, Length: 4088, dtype: object

In [33]:
vars_2019 = df[df.acs_year==2019].variable_code
vars_2019

4088     DP02_0019EA
4089      DP02_0126E
4090     DP02_0072EA
4091    DP02_0069PMA
4092      DP02_0126M
            ...
8259     DP05_0041PE
8260    DP05_0049PMA
8261     DP05_0006EA
8262    DP05_0062PMA
8263    DP05_0086PEA
Name: variable_code, Length: 4176, dtype: object

In [34]:
set(vars_2014)-set(vars_2019)

set()

In [35]:
set(vars_2019)-set(vars_2014)

{'DP02_0153E',
 'DP02_0153EA',
 'DP02_0153M',
 'DP02_0153MA',
 'DP02_0153PE',
 'DP02_0153PEA',
 'DP02_0153PM',
 'DP02_0153PMA',
 'DP04_0142E',
 'DP04_0142EA',
 'DP04_0142M',
 'DP04_0142MA',
 'DP04_0142PE',
 'DP04_0142PEA',
 'DP04_0142PM',
 'DP04_0142PMA',
 'DP04_0143E',
 'DP04_0143EA',
 'DP04_0143M',
 'DP04_0143MA',
 'DP04_0143PE',
 'DP04_0143PEA',
 'DP04_0143PM',
 'DP04_0143PMA',
 'DP05_0082E',
 'DP05_0082EA',
 'DP05_0082M',
 'DP05_0082MA',
 'DP05_0082PE',
 'DP05_0082PEA',
 'DP05_0082PM',
 'DP05_0082PMA',
 'DP05_0083E',
 'DP05_0083EA',
 'DP05_0083M',
 'DP05_0083MA',
 'DP05_0083PE',
 'DP05_0083PEA',
 'DP05_0083PM',
 'DP05_0083PMA',
 'DP05_0084E',
 'DP05_0084EA',
 'DP05_0084M',
 'DP05_0084MA',
 'DP05_0084PE',
 'DP05_0084PEA',
 'DP05_0084PM',
 'DP05_0084PMA',
 'DP05_0085E',
 'DP05_0085EA',
 'DP05_0085M',
 'DP05_0085MA',
 'DP05_0085PE',
 'DP05_0085PEA',
 'DP05_0085PM',
 'DP05_0085PMA',
 'DP05_0086E',
 'DP05_0086EA',
 'DP05_0086M',
 'DP05_0086MA',
 'DP05_0086PE',
 'DP05_0086PEA',
 'DP05_0086PM',
 'DP05_0086PMA',
 'DP05_0087E',
 'DP05_0087EA',
 'DP05_0087M',
 'DP05_0087MA',
 'DP05_0087PE',
 'DP05_0087PEA',
 'DP05_0087PM',
 'DP05_0087PMA',
 'DP05_0088E',
 'DP05_0088EA',
 'DP05_0088M',
 'DP05_0088MA',
 'DP05_0088PE',
 'DP05_0088PEA',
 'DP05_0088PM',
 'DP05_0088PMA',
 'DP05_0089E',
 'DP05_0089EA',
 'DP05_0089M',
 'DP05_0089MA',
 'DP05_0089PE',
 'DP05_0089PEA',
 'DP05_0089PM',
 'DP05_0089PMA'}

### Task 4

In [37]:
uncommon_vars = set(vars_2019)-set(vars_2014) #List of variables to be dropped from 2019

In [38]:
orange_2019 = pd.read_csv('orange_acs5-2019_census.csv')

In [67]:
orange_2019.head(2)

,index,DP02_0001E,DP02_0001PE,DP02_0002E,DP02_0002PE,DP02_0003E,DP02_0003PE,DP02_0004E,DP02_0004PE,DP02_0005E,...,B25087_037E,B25087_038E,B25087_039E,B25088_001E,B25088_002E,B25088_003E,B25092_001E,B25092_002E,B25092_003E,GEOID
0,"Census Tract 166.02, Orange County, Florida: S...",3357,3357,1857,55.3,618,18.4,288,8.6,143,...,0,0,0,1350,1576,531,18.8,21.1,11.6,12095016602
1,"Census Tract 159.02, Orange County, Florida: S...",993,993,279,28.1,61,6.1,118,11.9,10,...,21,0,7,1245,1625,677,16.4,18.8,15.1,12095015902

In [63]:
keep_columns = set(orange_2019.columns) - uncommon_vars #list of variables to be kept

In [69]:
updated_orange_2019 = orange_2019[keep_columns] #table with only the variables to be kept

In [71]:
updated_orange_2019.head(2)

,B25076_001E,DP03_0126E,DP02_0091E,B25075_011E,DP04_0140E,DP02_0094E,DP04_0090PE,DP04_0053E,DP04_0048E,DP02_0071PE,...,S2504_C02_033E,B25070_009E,DP03_0111PE,DP04_0098PE,DP05_0041E,S2506_C01_057E,DP04_0026PE,DP05_0072PE,DP04_0010PE,DP05_0059E
0,192400,-888888888,4494,63,63,1584,2706,832,2.98,9857,...,1.9,44,57.1,11.3,0,884,0.0,0.8,0.0,117
1,187800,-888888888,851,0,18,105,440,305,1.92,1727,...,0.0,64,-666666666.0,6.0,0,139,12.5,0.0,6.3,14

In [72]:
orange_2014 = pd.read_csv('orange_acs5-2014_census.csv')

In [73]:
orange_2014.head()

,index,DP02_0001E,DP02_0001PE,DP02_0002E,DP02_0002PE,DP02_0003E,DP02_0003PE,DP02_0004E,DP02_0004PE,DP02_0005E,...,B25087_027E,B25087_028E,B25087_029E,B25088_001E,B25088_002E,B25088_003E,B25092_001E,B25092_002E,B25092_003E,GEOID
0,"Census Tract 165.11, Orange County, Florida: S...",1103,1103,480,43.5,142,12.9,306,27.7,61,...,48,0,0,895,1213,456,23.9,27.8,10.0,12095016511
1,"Census Tract 167.23, Orange County, Florida: S...",1721,1721,1364,79.3,542,31.5,868,50.4,258,...,75,9,21,1212,1360,474,27.1,29.9,14.0,12095016723
2,"Census Tract 165.04, Orange County, Florida: S...",1719,1719,1018,59.2,404,23.5,745,43.3,262,...,35,8,18,1307,1596,360,21.3,27.1,10.0,12095016504
3,"Census Tract 158.01, Orange County, Florida: S...",612,612,432,70.6,136,22.2,396,64.7,122,...,9,13,167,2753,3531,1001,21.7,22.3,20.5,12095015801
4,"Census Tract 163.01, Orange County, Florida: S...",2636,2636,1160,44.0,440,16.7,774,29.4,327,...,111,21,46,989,1477,440,19.1,27.1,10.0,12095016301

In [76]:
orange_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Columns: 1555 entries, index to GEOID
dtypes: float64(667), int64(887), object(1)
memory usage: 2.5+ MB

In [75]:
set(updated_orange_2019.columns) - set(orange_2014.columns)

{'B25056_025E',
 'B25056_026E',
 'B25056_027E',
 'B25061_023E',
 'B25061_024E',
 'B25061_025E',
 'B25063_025E',
 'B25063_026E',
 'B25063_027E',
 'B25075_026E',
 'B25075_027E',
 'B25087_030E',
 'B25087_031E',
 'B25087_032E',
 'B25087_033E',
 'B25087_034E',
 'B25087_035E',
 'B25087_036E',
 'B25087_037E',
 'B25087_038E',
 'B25087_039E',
 'S1701_C01_047E',
 'S1701_C01_048E',
 'S1701_C01_049E',
 'S1701_C01_050E',
 'S1701_C01_051E',
 'S1701_C01_052E',
 'S1701_C01_053E',
 'S1701_C01_054E',
 'S1701_C01_055E',
 'S1701_C01_056E',
 'S1701_C01_057E',
 'S1701_C01_058E',
 'S1701_C01_059E',
 'S1701_C01_060E',
 'S1701_C01_061E',
 'S2504_C01_038E',
 'S2504_C02_038E',
 'S2504_C03_038E'}